.vehicle-selector-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 1px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

.vehicle-option{
    background-color: #eee;
    padding: 3px 7px;
    border: 3px solid #aaa;
    transition: 0.2s;
    color: #aaa;
    text-align: center;
}

.vehicle-option-active {
    background-color: rgba(51,245,22,0.7);
    color: green;
    border-color: green;
    transition: 0.2s;
}
